#wrapper {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  transition-duration: 2s;
}

#quote-box {
  background-color: white;
  width: 600px;
  margin: auto;
  margin-top: 10%;
  display: table;
}

#text {
  padding: 30px 30px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

#author {
  text-align: center;
}

i {
  font-size: 1em;
  margin-right: 0.4em;
}



#new-quote {
  margin-left: 62%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 2s;
  border: none;
}

#tweet-quote {
  margin-left:50px;
  transition-duration: 2s;
}

a { 
  padding: 8px;
  padding-top: 8px;
  transition-duration: 0.4s;
  height: 200px;
  width: 200px;
  border-radius: 4px;
}

a:hover {
  opacity: 0.8;
}

img {
  padding-top: 20px;
  block-size: 17px;
}

#new-quote:hover {
  opacity: 0.8;
}

p {
  text-align: center;
  color: white;
}




